{% extends "base.html" %}
{% load static %}
{% block content %}

    <section class="container-lg mt-4" style="min-height: 90vh;">

        <div class="container mt-3 mb-3 w-50">
            <form action="{% url "search" %}" method="get" class="input-group">

                <div class="form-floating">
                    <input class="form-control" type="search" id="floatingInput" placeholder="Buscar" name="q" value="{{ query }}">
                    <label for="floatingInput">Buscar</label>
                </div>

                <button type="submit" class="btn btn-primary">
                    <span class="material-symbols-outlined">
                        search
                    </span>
                </button>
            </form>
        </div>


        <div class="row">

            {% for post in posts %}
                <div class="col-sm-6 col-xl-4">
                    <div class="card mb-3 mt-3">
                        <a href="{% url "post" post.slug %}">
                            {% if post.banner %}
                            <img src="{{ post.banner.url }}" class="card-img-top" alt="...">
                            {% else %}
                            <img src="{% static "assets/img/default.png" %}" class="card-img-top" alt="...">
                            {% endif %}
                        </a>
                        <div class="card-body">
                            <a href="{% url "post" post.slug %}"
                                class="text-center link-dark link-underline-opacity-0 link-underline-opacity-100-hover">
                                <h5 class="card-title">{{ post.title }}</h5>
                            </a>
                            <p class="card-text">{{ post.description }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>

        {% include "partials/_pagination.html" %}

    </section>
{% endblock content %}