{% extends "base.html" %}
{% load static %}
{% block content %}
    <main class="container main">
        <div class="post">

            {% if post.banner %}
                <img src="{{ post.banner.url }}" alt="" class="post__banner">
            {% endif %}

            <h2 class="post__title">{{ post.title }}</h2>
            <a href="">{{ post.category.name }}</a>

            {{ post.content | safe}}

            <img src="assets/img/img_example.png" alt="">
        </div>
    </main>

{% endblock content %}