<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>Home</title>
</head>

<body>
    <header class="header">
        <a href="home.html"><img src="assets/img/img_example.png" alt="" class="header__logo"></a>

        <div class="mobile">
            <button class="mobile__menu"></button>
            <nav class="mobile__menu__nav">
                <a href="" class="mobile__menu-link">Inicio</a>
                <a href="" class="mobile__menu-link">Contato</a>
            </nav>
        </div>

        <div class="desktop">
            <nav class="desktop__menu__nav">
                <a href="" class="desktop__menu-link">Inicio</a>
                <a href="" class="desktop__menu-link">Contato</a>
            </nav>
        </div>
    </header>

    <main class="container main">

        <div class="card">
            <div class="card__banner">
                <a href="post.html" class="card__banner__link">
                    <img src="assets/img/img_example.png" alt="">
                </a>
            </div>

            <div class="card__title">
                <a href="post.html" class="card__title__link">
                    <h2>Um título para meu post</h2>
                </a>
            </div>
            <div class="card__description">
                <p class="card__description__text">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure error vitae corrupti.
                </p>
            </div>
        </div>

        <div class="card">
            <div class="card__banner">
                <a href="post.html" class="card__banner__link">
                    <img src="assets/img/img_example.png" alt="">
                </a>
            </div>

            <div class="card__title">
                <a href="post.html" class="card__title__link">
                    <h2>Um título para meu post</h2>
                </a>
            </div>
            <div class="card__description">
                <p class="card__description__text">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure error vitae corrupti.
                </p>
            </div>
        </div>

        <div class="card">
            <div class="card__banner">
                <a href="post.html" class="card__banner__link">
                    <img src="assets/img/img_example.png" alt="">
                </a>
            </div>

            <div class="card__title">
                <a href="post.html" class="card__title__link">
                    <h2>Um título para meu post</h2>
                </a>
            </div>
            <div class="card__description">
                <p class="card__description__text">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure error vitae corrupti.
                </p>
            </div>
        </div>

    </main>

    <footer class="footer">
        <p class="footer__text">Todos os direitos reservados</p>

        <div class="footer__links">
            <h3 class="footer__links__title">Links</h3>
            <a href="" class="footer__link">Inicio</a>
            <a href="" class="footer__link">Postagens</a>
            <a href="" class="footer__link">Fale Conosco</a>
        </div>
    </footer>

    <script src="assets/js/main.js"></script>
</body>

</html>