<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>Home</title>
</head>

<body>
    <header class="header">
        <a href="home.html"><img src="assets/img/img_example.png" alt="" class="header__logo"></a>

        <div class="mobile">
            <button class="mobile__menu"></button>
            <nav class="mobile__menu__nav">
                <a href="" class="mobile__menu-link">Inicio</a>
                <a href="" class="mobile__menu-link">Contato</a>
            </nav>
        </div>

        <div class="desktop">
            <nav class="desktop__menu__nav">
                <a href="" class="desktop__menu-link">Inicio</a>
                <a href="" class="desktop__menu-link">Contato</a>
            </nav>
        </div>
    </header>

    <main class="container main">
        <div class="post">

            <img src="assets/img/img_example.png" alt="" class="post__banner">

            <h2 class="post__title">Um poste sobre tecnologia e desenvolvimento</h2>

            <p class="post__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora pariatur a libero
                illo accusamus quos, inventore est iusto at facilis eius voluptatem nemo facere voluptatibus ipsum enim.
                Dolores, inventore voluptatem.</p>

            <img src="assets/img/img_example.png" alt="">
        </div>
    </main>

    <footer class=" footer">
        <p class="footer__text">Todos os direitos reservados</p>

        <div class="footer__link">
            <h3 class="footer__link__title">Links</h3>
            <a href="" class="footer__link">Inicio</a>
            <a href="" class="footer__link">Postagens</a>
            <a href="" class="footer__link">Fale Conosco</a>
        </div>
    </footer>

    <script src="assets/js/main.js"></script>
</body>

</html>