{% load static %}
<header class="header">
    <a href="{% url "home" %}"><img src="{% static "assets/img/img_example.png" %}" alt="" class="header__logo"></a>

    <div class="mobile">
        <button class="mobile__menu"></button>
        <nav class="mobile__menu__nav">
            <a href="{% url "home" %}" class="mobile__menu-link">Inicio</a>
            <a href="" class="mobile__menu-link">Contato</a>
        </nav>
    </div>

    <div class="desktop">
        <nav class="desktop__menu__nav">
            <a href="{% url "home" %}" class="desktop__menu-link">Inicio</a>
            <a href="" class="desktop__menu-link">Contato</a>
        </nav>
    </div>
</header>